{% extends 'base.html.twig' %}

{% block title %}Club index{% endblock %}

{% block body %}
    <h1>Club Zeonis</h1>

    <h5>Liste des clubs</h5>

    <div class="container">
        <div class="row justify-content-between">
            {% for club in clubs %}
                <div class="card mb-4" style="width: 18rem;">
                    <img src="{{ club.logo }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ path('club_show', {'id': club.id}) }}">FC {{ club.name }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

